<script>
  import Todo from "./Todo";
  import { props } from "olum";
  const toggle = (id) => {
    props().todos = props().todos.map((t) =>
      t.id === id
        ? {
            id: t.id,
            text: t.text,
            done: !t.done,
          }
        : t
    );
  };
  const remove = (id) => (props().todos = props().todos.filter((t) => t.id !== id));
</script>
<ul>
  <for each="todo of props().todos" key="todo.id">
    <if when="props().status=='all' || props().status=='active' && !todo.done || props().status=='done' && todo.done">
      <Todo todo="{todo}" remove="{remove}" toggle="{toggle}" />
    </if>
  </for>
  <if when="!props().todos.length">
    <li class="py-4 text-center text-xs" style="color: var(--fg-subtle)">No tasks yet</li>
  </if>
</ul>
